/******* Bootstrap Theming ********/

$primary: #FFAA17;
$secondary: #BDBDBF;
$light: #F4F5F8;
$dark: #222429;

$font-family-sans-serif: 'Rubik', sans-serif;

$headings-font-family: 'Oswald', sans-serif;

$body-color: #686A6F;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

@import "bootstrap/scss/bootstrap";


/********** Template CSS ************/
h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 45px 15px;
    color: $dark;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 0px;
    }

    .navbar-light .navbar-nav.border-right {
        border-right: none !important;
    }
}

.service-item {
    height: 320px;
    background: $light;
    transition: .5s;
}

.service-item:hover {
    background: $dark;
}

.service-item h4 {
    transition: .5s;
}

.service-item:hover h4 {
    color: $light;
}

.portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(34, 36, 41, .5);
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 30px solid rgba(34, 36, 41, .9);
}

.portfolio-item i {
    opacity: 0;
    transition: .3s;
    transition-delay: .3s;
}

.portfolio-item:hover i {
    opacity: 1;
}

.page-header {
    height: 400px;
    margin-bottom: 90px;
}

@media (max-width: 991.98px) {
    .page-header {
        height: 300px;
    }
}

.team-carousel .owl-nav {
    position: absolute;
    width: 60px;
    height: 180px;
    top: calc(50% - 90px);
    left: 0;
    z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;
    background: $primary;
    border-radius: 4px;
    font-size: 22px;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    color: $primary;
    background: $dark;
}

.team-item .team-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border-radius: 4px;
    background: $dark;
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.testimonial-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: $secondary;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    background: $primary;
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
}

.testimonial-carousel .owl-item .testimonial-item {
    opacity: .5;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: $dark;
    opacity: 1;
}

.testimonial-carousel .owl-item.center .testimonial-item h5 {
    color: $primary;
}

.testimonial-carousel .owl-item.center .testimonial-item::before {
    position: absolute;
    content: "";
    top: 45px;
    left: -30px;
    right: -30px;
    bottom: 45px;
    background: lighten($dark, 25%);
    border-radius: 4px;
    z-index: -1;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}